<link rel="stylesheet" href="style.css">
<%- include('../template/head')-%>

<body>
    <div>
        <%- include('../template/nav.ejs')-%>

        <main>
            <h1>Missions</h1>
            <ul class="pages">
                <% missions.forEach(link => {%>
                    <li><a href="<%= link.url%>"><%=link.name%></a></li>
                <%});%>
            </ul>

            <%- include('../template/footer.ejs')-%>
        </main>
    </div>
</body>
</html>